@page
@model BrizaBreath.Pages.Results.IndexModel

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].brtResultScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].brtResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].lungsResultScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].lungsResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].yogicTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].yogicResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].yogicIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BRETotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BREResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BREIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BRWTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BRWResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BRWIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HUMTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HUMResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HUMIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BBTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BBResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].BBIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HATTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HATResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HATIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HATCTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HATCResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].HATCIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].AHATTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].AHATResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].AHATIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].APTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].APResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].APIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].O2TotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].O2ResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].O2Intervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CO2TotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CO2ResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CO2Intervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].WHTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].WHResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].WHIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CTTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CTResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CTIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].UBTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].UBResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].UBIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].B4TotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].B4ResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].B4Intervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].NBTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].NBResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].NBIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CBTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CBResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].CBIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].SBTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].SBResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].SBIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].RBTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].RBResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].RBIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].SEXTotalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].SEXResultDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].SEXIntervals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Result) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brtResultScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brtResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lungsResultScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lungsResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yogicTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yogicResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yogicIntervals)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.BRETotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BREResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BREIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BRWTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BRWResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BRWIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HUMTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HUMResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HUMIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BBTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BBResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BBIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HATTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HATResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HATIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HATCTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HATCResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HATCIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AHATTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AHATResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AHATIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O2TotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O2ResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.O2Intervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CO2TotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CO2ResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CO2Intervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WHTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WHResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WHIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CTIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UBTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UBResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UBIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B4TotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B4ResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.B4Intervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NBTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NBResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NBIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CBIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SBTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SBResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SBIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RBTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RBResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RBIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEXTotalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEXResultDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SEXIntervals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ResultId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ResultId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ResultId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
