@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="~/manifest.json" />
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled" />
    <title>@ViewData["Title"] Briza Breath & Performance</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BrizaBreath.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="logo">
        <img src="https://brizastorage.blob.core.windows.net/images/brizalogo.svg" width="250" height="100" />
    </div>
    <div class="row">
        <div class="col-md-8">
            <form id="account" method="post">
                <h4 id="loginText">Login</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="login-submit" type="submit" class="btn btn-default">Log in</button>
                    </div>
                </div>
                <div>
                    <p class="loginText">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="loginText">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </div>
        <!--<div class="col-md-6 col-md-offset-2">
            <section>
                <h3>Use another service to log in.</h3>
                <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                                                <div>
                                                    <p>
                                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                                    </p>
                                                </div>
            }
            else
            {
                                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                    <div>
                                                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                                                        </p>
                                                    </div>
                                                </form>
            }
        }
            </section>
        </div>-->
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
